{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "airbnb/rules/react"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-indent": [
      "error",
      4
    ],
    "react/jsx-indent-props": [
      "error",
      4
    ],
    "no-console": 0,
    "no-restricted-syntax": 0,
    "eol-last": 0,
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": 0,
    "comma-dangle": 0,
    "global-require": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-props-no-spreading": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "plugins": [
    "react",
    "react-hooks"
  ]
}
